/* Estilizar o cabeçalho do site */
*{
    width: auto;
    margin: 0;
    padding: 0;
}
header {
    background-color: #333;
    color: #fff;
    padding: 15px;
    text-align: center;
  }
 
  
  .logo {
    text-align: left;

  }
  
  .logo img {
    height: auto;
    width: 200px;
    color: #aaacad;;
    padding: 4px;
    border-radius: 5px;
  }
  
  h1 {
    align-items: center;
    text-align: center;
    justify-content: center;
    font-size: 40px;
    margin-bottom: 30px;
    margin-left: 40px;

  }
  header p{
    align-items: center;
    text-align: center;
    justify-content: center;
    font-size: 25px;
    margin-bottom: 70px;
    margin-left: 40px;
    color: #aaacad;
    


  }
  
  /* Estilizar o container de projetos */
  .projects-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
  }
  
  /* Estilizar o bloco de projeto individual */
  .project-block {
    width: 250px;
    margin: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  
  .project-block h2 {
    margin-top: 0;
    margin-bottom: 7px;
  }
  
  .project-block img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
    margin-bottom: 7px;
  }
  
  .project-block a {
    font-weight: bold;
    
    margin-left: 30%;
    text-decoration: none;
    color: #337ab7;
  }
  
  .project-block a:hover {
    color: #0088ff;
  }
  
  /* Estilizar o rodapé do site */
  footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    clear: both;
  }
  
  footer p {
    margin-bottom: 5px; /* espaçamento entre os parágrafos do rodapé */
  }
  footer .teste {
    font-size: 0.8em; /* tamanho da fonte do texto "feito por" */
    color: #666; /* cor do texto "feito por" */
  }